body{
    /*background: #7a6840;*/
    background-image: url(pics/background.png); /* used with freepik background, thank you */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family:sans-serif;
    box-sizing: border-box;
}

#login_form{
    width: 500px;
    border: 4px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    flex-direction: column;
}

#search_form{
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#request_form{
    display: flex;
    width: 700px;
    border: 4px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    flex-direction: column;
}

.block{
    display: flex;
    align-items: center;
    text-align: center;
    width: 800px;
    border: 4px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    flex-direction: column;
}

.block_request{
    display: flex;
    align-items: center;
    text-align: center;
    width: 65%;
    border: 4px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    flex-direction: column;
    position: relative; 
    height: 700px;
    overflow:scroll;
    overflow-x:hidden;
}

.block_user_management{
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    border: 4px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    flex-direction: column;
    position: relative; 
    height: 700px;
    overflow:scroll;
    overflow-x:hidden;
}

.scroll{
    height: 600px;
    overflow:scroll;
    overflow-x:hidden;
}

.text1{
    font-size: 40px;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

textarea{
    display: block;
    border: 2px solid #ccc;
    padding: 10px;
    width: 95%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5px;
}

#user_form_label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}

#radio_form_label{
    margin-right: 15px;
    line-height: 32px;
}

.radio{
    display: flex;
    align-items: flex-start;
    margin-bottom: 3px;
}

fieldset{
    margin-bottom: 30px;
}

button{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button:hover{
    opacity: .8;
}

#login{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

#login:hover{
    opacity: .8;
}

#register{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

#register:hover{
    opacity: .8;
}

#menu{
    background: #555;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}
#menu:hover{
    opacity: .8;
}

#centered_ahref{
    text-align: center;
    background: #555;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

#centered_ahref:hover{
    opacity: .8;
}

.error{
    background: #F2DEDE;
    color: #a13d3b;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.fine{
    background: #00a808;
    color: #ffffff;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

/*.requests{
    height:400px;
    overflow:scroll;
    overflow-x:hidden;
}*/

#table_requests {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table_requests td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  #table_requests th{
    border: 1px solid #ddd;
    padding: 8px;
  }

  #table_requests tr:nth-child(even){background-color: #f2f2f2;}
  
  #table_requests tr:hover {background-color: #ddd;}
  
  #table_requests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d89400;
    color: white;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d89400;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b17900;
  }