body{
    /*background: #7a6840;*/
    background-image: url(pics/background.png); /* used with freepik background, thank you */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family:sans-serif;
    box-sizing: border-box;
}

#login_form{
    width: 500px;
    border: 4px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    flex-direction: column;
}

#request_form{
    display: flex;
    width: 700px;
    border: 4px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    flex-direction: column;
}

.block{
    display: flex;
    align-items: center;
    text-align: center;
    width: 700px;
    border: 4px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    flex-direction: column;
}

.text1{
    font-size: 40px;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

textarea{
    display: block;
    border: 2px solid #ccc;
    padding: 10px;
    width: 95%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5px;
}

label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    font-size: 16px;
}

button:hover{
    opacity: .8;
}

#login{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

#login:hover{
    opacity: .8;
}

#menu{
    background: #555;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}
#menu:hover{
    opacity: .8;
}

#centered_ahref{
    text-align: center;
    background: #555;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

#centered_ahref:hover{
    opacity: .8;
}

.error{
    background: #F2DEDE;
    color: #a13d3b;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.fine{
    background: #00a808;
    color: #ffffff;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

#table_requests {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table_requests td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  #table_requests th{
    border: 1px solid #ddd;
    padding: 8px;
  }

  
  #table_requests tr:nth-child(even){background-color: #f2f2f2;}
  
  #table_requests tr:hover {background-color: #ddd;}
  
  #table_requests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d89400;
    color: white;
  }